<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atc.gosmartlesmagistra">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustNothing|stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ForgotPasswordActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|adjustNothing|stateAlwaysHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.atc.gosmartlesmagistra.activity.LoginActivity" />
        </activity>
        <activity
            android:name=".activity.SignUpStudentActivity"
            android:label="@string/signup_student"
            android:parentActivityName=".activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.atc.gosmartlesmagistra.activity.LoginActivity" />
        </activity>
        <activity
            android:name=".activity.SignUpTeacherActivity"
            android:label="@string/signup_teacher"
            android:parentActivityName=".activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.atc.gosmartlesmagistra.activity.LoginActivity" />
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.EditProfileStudentActivity"
            android:label="@string/edit_profile_student"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.atc.gosmartlesmagistra.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.EditProfileTeacherActivity"
            android:label="@string/edit_profile_teacher"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.atc.gosmartlesmagistra.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:label="@string/change_password"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.atc.gosmartlesmagistra.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.PrivateOrderActivity"
            android:label="@string/private_order"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.atc.gosmartlesmagistra.activity.MainActivity" />
        </activity>
    </application>

</manifest>